<ion-view title="1° Año" id="page8" style="background-color:#FF6306;">
  <ion-content padding="true" class="has-header">
    <ion-list id="1AO-list64">
      <ion-item class="item-divider" id="1AO-list-item-divider3"> Anual</ion-item>
      <ion-item class="item-icon-left dark" id="1AO-list-item25" ui-sref="arquitectura.tallerDeDiseOArquitectNicoI()">
        <i class="icon ion-university"></i>Taller de Diseño Arquitectónico I</ion-item>
    </ion-list>
    <ion-list id="1AO-list65">
      <ion-item class="item-icon-left dark" id="1AO-list-item26" ui-sref="arquitectura.sistemasDeRepresentaciN()">
        <i class="icon ion-university"></i>Sistemas de Representación</ion-item>
    </ion-list>
    <ion-list id="1AO-list110">
      <ion-item class="item-icon-left dark" id="1AO-list-item37" ui-sref="arquitectura.morfologAI()">
        <i class="icon ion-university"></i>Morfología I</ion-item>
    </ion-list>
    <ion-list id="1AO-list111">
      <ion-item class="item-icon-left dark" id="1AO-list-item38" ui-sref="arquitectura.expresiNOralYEscrita()">
        <i class="icon ion-university"></i>Expresión Oral y Escrita</ion-item>
    </ion-list>
    <ion-list id="1AO-list112">
      <ion-item class="item-icon-left dark" id="1AO-list-item39" ui-sref="arquitectura.introducciNALosTiposConstructivos()">
        <i class="icon ion-university"></i>Introducción a los Tipos Constructivos</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="1AO-list66">
      <ion-item class="item-divider" id="1AO-list-item-divider4"> 1° Cuatrimestre</ion-item>
    </ion-list>
    <ion-list id="1AO-list69">
      <ion-item class="item-icon-left dark" id="1AO-list-item40" ui-sref="arquitectura.ambienteYEcologA()">
        <i class="icon ion-university"></i>Ambiente y Ecología</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="1AO-list7">
      <ion-item class="item-divider" id="1AO-list-item-divider6"> 2° Cuatrimestre</ion-item>
      <ion-item class="item-icon-left dark" id="1AO-list-item44" ui-sref="arquitectura.introducciNALaArqContemporNea()">
        <i class="icon ion-university"></i>Introducción a la Arq. Contemporánea</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>