<ion-view title="2° Año" id="page9" style="background-color:#FF6306;">
  <ion-content padding="true" class="has-header">
    <ion-list id="2AO-list113">
      <ion-item class="item-divider" id="2AO-list-item-divider7"> Anual</ion-item>
    </ion-list>
    <ion-list id="2AO-list114">
      <ion-item class="item-icon-left dark" id="2AO-list-item133" ui-sref="arquitectura.tallerDeDiseOArquitectNicoII()">
        <i class="icon ion-university"></i>Taller de Diseño Arquitectónico II</ion-item>
      <ion-item class="item-icon-left dark" id="2AO-list-item135" ui-sref="arquitectura.morfologAII()">
        <i class="icon ion-university"></i>Morfología II</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="2AO-list73">
      <ion-item class="item-divider" id="2AO-list-item-divider12"> 1° Cuatrimestre</ion-item>
    </ion-list>
    <ion-list id="2AO-list74">
      <ion-item class="item-icon-left dark" id="2AO-list-item29" ui-sref="arquitectura.elementosDeMatemTica()">
        <i class="icon ion-university"></i>Elementos de Matemática</ion-item>
    </ion-list>
    <ion-list id="2AO-list75">
      <ion-item class="item-icon-left dark" id="2AO-list-item30" ui-sref="arquitectura.instalacionesI()">
        <i class="icon ion-university"></i>Instalaciones I</ion-item>
    </ion-list>
    <ion-list id="2AO-list76">
      <ion-item class="item-icon-left dark" id="2AO-list-item31" ui-sref="arquitectura.teorAYAnLisisDeLaArquitecturaI()">
        <i class="icon ion-university"></i>Teoría y Análisis de la Arquitectura I</ion-item>
    </ion-list>
    <ion-list id="2AO-list77">
      <ion-item class="item-icon-left dark" id="2AO-list-item32" ui-sref="arquitectura.tecnologADeLaConstrucciN()">
        <i class="icon ion-university"></i>Tecnología de la Construcción</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="2AO-list8">
      <ion-item class="item-divider" id="2AO-list-item-divider8"> 2° Cuatrimestre</ion-item>
      <ion-item class="item-icon-left dark" id="2AO-list-item49" ui-sref="arquitectura.introducciNALosTiposEstructurales()">
        <i class="icon ion-university"></i>Introducción a los Tipos Estructurales</ion-item>
      <ion-item class="item-icon-left dark" id="2AO-list-item50" ui-sref="arquitectura.introducciNALaInformTica()">
        <i class="icon ion-university"></i>Introducción a la Informática</ion-item>
      <ion-item class="item-icon-left dark" id="2AO-list-item51" ui-sref="arquitectura.estadSticaAplicada()">
        <i class="icon ion-university"></i>Estadística Aplicada</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>