<ion-view title="3° Año" id="page10" style="background-color:#FF6306;">
  <ion-content padding="true" class="has-header">
    <ion-list id="3AO-list31">
      <ion-item class="item-divider" id="3AO-list-item-divider10"> Anual</ion-item>
    </ion-list>
    <ion-list id="3AO-list37">
      <ion-item class="item-icon-left dark" id="3AO-list-item36" ui-sref="arquitectura.tallerDeDiseOArquitectNicoIII()">
        <i class="icon ion-university"></i>Taller de Diseño Arquitectónico III</ion-item>
      <ion-item class="item-icon-left dark" id="3AO-list-item136" ui-sref="arquitectura.inglS()">
        <i class="icon ion-university"></i>Inglés</ion-item>
      <ion-item class="item-icon-left dark" id="3AO-list-item137" ui-sref="arquitectura.estructurasI()">
        <i class="icon ion-university"></i>Estructuras I</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="3AO-list78">
      <ion-item class="item-divider" id="3AO-list-item-divider9"> 1° Cuatrimestre</ion-item>
    </ion-list>
    <ion-list id="3AO-list79">
      <ion-item class="item-icon-left dark" id="3AO-list-item35" ui-sref="arquitectura.introducciNAlUrbanismo()">
        <i class="icon ion-university"></i>Introducción al urbanismo</ion-item>
      <ion-item class="item-icon-left dark" id="3AO-list-item195" ui-sref="arquitectura.informTicaAplicadaI()">
        <i class="icon ion-university"></i>Informática Aplicada I</ion-item>
      <ion-item class="item-icon-left dark" id="3AO-list-item196" ui-sref="arquitectura.instalacionesII()">
        <i class="icon ion-university"></i>Instalaciones II</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="3AO-list45">
      <ion-item class="item-divider" id="3AO-list-item-divider29"> 2° Cuatrimestre</ion-item>
      <ion-item class="item-icon-left dark" id="3AO-list-item197" ui-sref="arquitectura.teorAYAnLisisDeLaArquitecturaII()">
        <i class="icon ion-university"></i>Teoría y Análisis de la Arquitectura II</ion-item>
      <ion-item class="item-icon-left dark" id="3AO-list-item198" ui-sref="arquitectura.tecnologADeLaConstrucciNII()">
        <i class="icon ion-university"></i>Tecnología de la Construcción II</ion-item>
    </ion-list>
  </ion-content>
</ion-view>