<ion-view title="4° Año" id="page42" style="background-color:#FF6306;">
  <ion-content padding="true" class="has-header">
    <ion-list id="4AO-list51">
      <ion-item class="item-divider" id="4AO-list-item-divider32"> Anual</ion-item>
    </ion-list>
    <ion-list id="4AO-list115">
      <ion-item class="item-icon-left dark" id="4AO-list-item202" ui-sref="arquitectura.tallerDeDiseOArquitectNicoIV()">
        <i class="icon ion-university"></i>Taller de Diseño Arquitectónico IV</ion-item>
      <ion-item class="item-icon-left dark" id="4AO-list-item234" ui-sref="arquitectura.urbanismo()">
        <i class="icon ion-university"></i>Urbanismo</ion-item>
      <ion-item class="item-icon-left dark" id="4AO-list-item235" ui-sref="arquitectura.informTicaAplicadaII()">
        <i class="icon ion-university"></i>Informática Aplicada II</ion-item>
      <ion-item class="item-icon-left dark" id="4AO-list-item236" ui-sref="arquitectura.estructurasII()">
        <i class="icon ion-university"></i>Estructuras II</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="4AO-list53">
      <ion-item class="item-divider" id="4AO-list-item-divider13"> 1° Cuatrimestre</ion-item>
      <ion-item class="item-icon-left dark" id="4AO-list-item138" ui-sref="arquitectura.tecnologADeEnergAsNoConvencionales()">
        <i class="icon ion-university"></i>Tecnología de Energías No Convencionales</ion-item>
      <ion-item class="item-icon-left dark" id="4AO-list-item203" ui-sref="arquitectura.teorAYAnLisisDeLaArquitecturaIII()">
        <i class="icon ion-university"></i>Teoría y Análisis de la Arquitectura III</ion-item>
      <ion-item class="item-icon-left dark" id="4AO-list-item204" ui-sref="arquitectura.cienciasYTecnologADeLaInvestigaciN()">
        <i class="icon ion-university"></i>Ciencias y Tecnología de la Investigación</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="4AO-list57">
      <ion-item class="item-divider" id="4AO-list-item-divider33"> 2° Cuatrimestre</ion-item>
      <ion-item class="item-icon-left dark" id="4AO-list-item205" ui-sref="arquitectura.tecnologADeEnergAsNoConvencionales()">
        <i class="icon ion-university"></i>Instalaciones III</ion-item>
      <ion-item class="item-icon-left dark" id="4AO-list-item213" ui-sref="arquitectura.teorAYAnLisisDeLaArquitecturaIII()">
        <i class="icon ion-university"></i>Planificación y Organización de Obras</ion-item>
      <ion-item class="item-icon-left dark" id="4AO-list-item214" ui-sref="arquitectura.cienciasYTecnologADeLaInvestigaciN()">
        <i class="icon ion-university"></i>Paisajismo</ion-item>
    </ion-list>
  </ion-content>
</ion-view>