<ion-view title="5° Año" id="page43" style="background-color:#FF6306;">
  <ion-content padding="true" class="has-header">
    <ion-list id="5AO-list59">
      <ion-item class="item-divider" id="5AO-list-item-divider34"> Anual</ion-item>
    </ion-list>
    <ion-list id="5AO-list86">
      <ion-item class="item-icon-left dark" id="5AO-list-item217" ui-sref="arquitectura.tallerDeDiseOArquitectNicoV()">
        <i class="icon ion-university"></i>Taller de Diseño Arquitectónico V</ion-item>
      <ion-item class="item-icon-left dark" id="5AO-list-item219" ui-sref="arquitectura.diseOUrbano()">
        <i class="icon ion-university"></i>Diseño Urbano</ion-item>
      <ion-item class="item-icon-left dark" id="5AO-list-item220" ui-sref="arquitectura.diseOEstructural()">
        <i class="icon ion-university"></i>Diseño Estructural</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <ion-list id="5AO-list90">
      <ion-item class="item-divider" id="5AO-list-item-divider36"> 1° Cuatrimestre</ion-item>
      <ion-item class="item-icon-left dark" id="5AO-list-item222" ui-sref="arquitectura.topografA()">
        <i class="icon ion-university"></i>Topografía</ion-item>
      <ion-item class="item-icon-left dark" id="5AO-list-item223" ui-sref="arquitectura.patrimonioCulturalUrbanoYArquitectNico()">
        <i class="icon ion-university"></i>Patrimonio Cultural, Urbano y Arquitectónico</ion-item>
      <ion-item class="item-icon-left dark" id="5AO-list-item293" ui-sref="arquitectura.domTicaEInmTica()">
        <i class="icon ion-university"></i>Domótica e Inmótica</ion-item>
      <ion-item class="item-icon-left dark" id="5AO-list-item294" ui-sref="arquitectura.diseOPaisajStico()">
        <i class="icon ion-university"></i>Diseño Paisajístico</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <ion-list id="5AO-list87">
      <ion-item class="item-divider" id="5AO-list-item-divider37"> 2° Cuatrimestre</ion-item>
      <ion-item class="item-icon-left dark" id="5AO-list-item274" ui-sref="arquitectura.practicanatoEnGestiNMunicipal()">
        <i class="icon ion-university"></i>Practicanato en Gestión Municipal</ion-item>
      <ion-item class="item-icon-left dark" id="5AO-list-item289" ui-sref="arquitectura.diseOBioambiental()">
        <i class="icon ion-university"></i>Diseño Bioambiental</ion-item>
      <ion-item class="item-icon-left dark" id="5AO-list-item290" ui-sref="arquitectura.tCnicasEnGestiNEmpresarial()">
        <i class="icon ion-university"></i>Técnicas en Gestión Empresarial</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="5AO-list129">
      <ion-item class="item-icon-left dark" id="5AO-list-item303" ui-sref="arquitectura.trabajoFinal()">
        <i class="icon ion-university"></i>Trabajo Final</ion-item>
    </ion-list>
  </ion-content>
</ion-view>