<ion-view title="Alcance del Título" id="page7">
  <ion-content padding="true" class="has-header">
    <div>
      <p>&nbsp;</p>
      <h4>
        <strong>
          <span style="color: #ff6600;">ALCANCE DEL TÍTULO:</span>
        </strong>
      </h4>
      <p>El ARQUITECTO es el profesional formado para diseñar, proyectar, calcular, dirigir y ejecutar la concreción de los espacios destinados al hábitat humano.
        <br>De este modo podrá desarrollar consecuentemente en forma autónoma tareas de programación, planificación, proyecto, cálculo, dirección, producción, gestión, asesoramiento, mantenimiento y equipamiento, referidos a la arquitectura, entendida ésta
        en su más amplia acepción, en todas sus dimensiones y escalas de actuación, incluida la territorial, así como integrar equipos para abordar las mismas actividades u otras de mayor complejidad o que requieran niveles de interdisciplinariedad.</p>
      <p>En este marco, los egresados de la presente propuesta formativa, podrán:</p>
      <p>- Diseñar, proyectar, dirigir y ejecutar la concreción de los espacios destinados al hábitat humano.</p>
      <p>- Proyectar, dirigir y ejecutar la construcción de edificios, conjuntos de edificios y los espacios que ellos conforman, con su equipamiento, infraestructura y de otras obras destinadas al hábitat humano.</p>
      <p>- Proyectar, calcular y dirigir y ejecutar la construcción de estructuras resistentes correspondientes a obras de Arquitectura.</p>
      <p>- Proyectar, calcular y dirigir y ejecutar la construcción de instalaciones complementarias correspondientes a obras de Arquitectura, excepto cuando la especificidad de ellas implique la intervención de las ingeniarías.</p>
      <p>- Proyectar, dirigir y ejecutar obras de recuperación, renovación, rehabilitación y re funcionalización de edificios, conjuntos de edificios y otros espacios destinados al hábitat humano.
        <br>. Diseñar, proyectar, dirigir y ejecutar la construcción del equipamiento interior y exterior, fijo y móvil, destinado al hábitat humano, incluyendo los habitáculos para el transporte de personas.</p>
      <p>- Diseñar, proyectar y efectuar el control técnico de componentes y materiales destinados a la, construcción de obras de arquitectura.</p>
      <p>- Programar, dirigir y ejecutar la demolición de obras de Arquitectura.</p>
      <p>- Realizar estudios, proyectar y dirigir la ejecución de las obras destinadas a la concreción del paisaje.</p>
      <p>- Efectuar la planificación arquitectónica y urbanística de los espacios destinados a asentamientos humanos.</p>
      <p>- Proyectar parcelamientos destinados al hábitat humano.</p>
      <p>- Realizar medición y nivelación de parcelas con el objeto de concretar la ejecución de las obras de arquitectura.</p>
      <p>- Realizar estudios e investigaciones referidos al ordenamiento y planificación de los espacios que conforman el hábitat, y a los problemas relativos al diseño, proyecto y ejecución de obras de arquitectura.</p>
      <p>- asesorar en lo concerniente al ordenamiento y planificación de los espacios que conforman el hábitat y a los problemas relativos al diseño, proyecto y ejecución de obras de arquitectura.</p>
      <p>- Participar en planes, programas y proyectos de ordenamiento físico ambiental del territorio y de ocupación del espacio urbano y rural.</p>
      <p>- Participar en la elaboración de normas legales relativas al ordenamiento y planificación de los espacios que conforman el hábitat humano.</p>
      <p>- Participar en la elaboración de planes, programas y proyectos que no siendo de su especialidad afecten el hábitat humano.</p>
      <p>- Realizar relevamientos, tasaciones y valuaciones de bienes inmuebles.</p>
      <p>- Realizar peritajes, arbitrajes, tasaciones y valuaciones relacionadas con el ordenamiento y planificación de los espacios que conforman el hábitat y con los problemas relativos al diseño, proyecto y ejecución de obras de arquitectura.</p>
      <p>- Proyectar, ejecutar, dirigir y evaluar todo lo concerniente a la higiene y seguridad en obras de arquitectura.</p>
    </div>
  </ion-content>
</ion-view>