<ion-view title="Inicio" hide-nav-bar="true" id="page1" style="background-color:#FFFFFF;">
  <ion-content padding="true" style="background: url(img/KBVWvcyyTySEZDJprYN8_FondoApp12.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div id="inicio-button-bar1" class="button-bar"></div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img src="img/2uhRis2GTZee5LRjvgqI_LogoArquitecturaApp1700.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 15px;"></div>
    <ion-list id="inicio-list3">
      <ion-item class="item-avatar energized" id="inicio-list-item9" ui-sref="arquitectura.planDeEstudios()">
        <img src="img/7Y079XPXTqWzSIQG8a6L_a006.png">
        <h2energized>Plan de Estudios</h2energized>
      </ion-item>
      <ion-item class="item-avatar energized" id="inicio-list-item10" ui-sref="arquitectura.horarios()">
        <img src="img/StKZeLuTdObGvd86f5vA_a005.png">
        <h2energized>Horarios</h2energized>
      </ion-item>
      <ion-item class="item-avatar energized" id="inicio-list-item23" ui-sref="arquitectura.programasDeCTedra()">
        <img src="img/04Jn62HR2OKWINAnds4p_a004.png">
        <h2energized>Programas de Cátedra</h2energized>
      </ion-item>
      <ion-item class="item-avatar energized" id="inicio-list-item11" ui-sref="arquitectura.bibliotecaDigital()">
        <img src="img/B8ztI1SJaZWZmeKdr9CQ_a003.png">
        <h2energized>Biblioteca Digital</h2energized>
      </ion-item>
      <ion-item class="item-avatar energized" id="inicio-list-item24" ui-sref="arquitectura.calendarioAcadMico()">
        <img src="img/2e3t0AlS1W1XWuCn5vI0_a002.png">
        <h2energized>Calendario Académico</h2energized>
      </ion-item>
      <ion-item class="item-avatar energized" id="inicio-list-item12" ui-sref="arquitectura.acercaDeLaApp()">
        <img src="img/bUfNrd4QTSqw4FEJG9xA_a001.png">
        <h2energized>Acerca de la App</h2energized>
      </ion-item>
    </ion-list>
    <a ui-sref="arquitectura.gUAUNLaR()" id="inicio-button3" class="button button-energized button-block">GUÍA UNLaR</a>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>