<ion-view title="Introducción a los Tipos Estructurales" id="page27" style="background-color:#FF6306;">
  <ion-content padding="true" class="has-header">
    <ion-list id="introducciNALosTiposEstructurales-list118">
      <ion-item class="item-icon-right dark" id="introducciNALosTiposEstructurales-list-item164">Sin Contenidos
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>