<ion-view title="Perfil del Graduado" id="page6">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">ORDENANZA Nº: 325/07</span>
        </strong>
      </h4>
      <hr>
      <h4>&nbsp;</h4>
      <h4>
        <strong>
          <span style="color: #ff6600;">PERFIL DEL GRADUADO:</span>
        </strong>
      </h4>
      <p>El Plan de Estudios de la Carrera de Arquitectura, ha sido estructurado de modo tal que el ARQUITECTO se forme desde las precisiones que faciliten la creatividad y el ejercicio investigativo asistidos por las herramientas informáticas, como recurso
        o medio para expresarla, desarrollando específicamente respuestas técnicas en correlato a las condicionantes del medio y las posibilidades de las tecnologías apropiadas, energías no convencionales y el diseño sustentable, habilitando consecuentemente
        su capacidad para una reformulación de tipologías arquitectónicas y urbanas.
        <br>Así, el Perfil Profesional del graduado de arquitectura comprende no solo el tradicional rol de proyecto y dirección de obra, sino también las siguientes áreas profesionales:</p>
      <p>
        <strong>a)</strong> El planea miento estratégico ambiental y urbano, y la participación en múltiples formas de gestión política, económica y técnica referida al hábitat humano.</p>
      <p>
        <strong>b)</strong> La participación dentro de equipos interdisciplinarios en el diseño de operaciones de intervención en la ciudad.</p>
      <p>
        <strong>c)</strong> La participación, en la configuración de espacios, en órganos estatales y privados que administran la ciudad, el ambiente urbano, la calidad de vida, o actividades específicas como la salud, la educación, la vivienda, etc.</p>
      <p>
        <strong>d)</strong> La investigación, el diagnóstico, la propuesta y la normativa en cuestiones edilicias, urbanas y ambientales.</p>
      <p>
        <strong>e)</strong> La participación en las formas atípicas de gestión del hábitat social, organizaciones comunitarias intermedias, estatales y de base. Diseño de acciones y operatorias del sector vivienda y equipamiento social.</p>
      <p>
        <strong>f)</strong> La intervención y administración del patrimonio urbano, arquitectónico y cultural de las ciudades, poniendo en valor sus cualidades estéticas, culturales y sociales.</p>
    </div>
  </ion-content>
</ion-view>