<ion-view title="Plan de Estudios" id="page2">
  <ion-content padding="true" style="background: url(img/7quc3EiSL2qLQ72dRTFA_FondoApp12.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/CjTgrrTZReSKTEW2iBu8_Arquitectura.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <a ui-sref="arquitectura.alcanceDelTTulo()" id="planDeEstudios-button2" style="font-weight:500;color:#FF6306;" class="button button-light button-block icon ion-android-checkmark-circle"> Alcance del Título</a>
    <a ui-sref="arquitectura.perfilDelGraduado()" id="planDeEstudios-button1" style="font-weight:500;color:#FF6306;" class="button button-light button-block icon ion-android-checkmark-circle"> Perfil del Graduado</a>
  </ion-content>
</ion-view>