<ion-view title="Programas de Cátedra" id="page12" style="background-color:#FF6306;">
  <ion-content padding="true" class="has-header">
    <ion-list id="programasDeCTedra-list11">
      <ion-item class="item-icon-left dark" id="programasDeCTedra-list-item33">
        <i class="icon ion-ios-list-outline"></i>Taller de Diseño Arquitectónico I</ion-item>
      <ion-item class="item-icon-left dark" id="programasDeCTedra-list-item34">
        <i class="icon ion-ios-list-outline"></i>Sistemas de Representación</ion-item>
      <ion-item class="item-icon-left dark" id="programasDeCTedra-list-item53">
        <i class="icon ion-ios-list-outline"></i>Morfología I</ion-item>
      <ion-item class="item-icon-left dark" id="programasDeCTedra-list-item54">
        <i class="icon ion-ios-list-outline"></i>Expresión Oral y Escrita</ion-item>
      <ion-item class="item-icon-left dark" id="programasDeCTedra-list-item55">
        <i class="icon ion-ios-list-outline"></i>Introducción a los Tipos Contructivos</ion-item>
      <ion-item class="item-icon-left dark" id="programasDeCTedra-list-item56">
        <i class="icon ion-ios-list-outline"></i>Ambiente y Ecología</ion-item>
      <ion-item class="item-icon-left dark" id="programasDeCTedra-list-item57">
        <i class="icon ion-ios-list-outline"></i>Introducción a la Arq. Contemporánea</ion-item>
      <ion-item class="item-icon-left dark" id="programasDeCTedra-list-item58">
        <i class="icon ion-ios-list-outline"></i>Taller de Diseño Arquitectónico II</ion-item>
      <ion-item class="item-icon-left dark" id="programasDeCTedra-list-item59">
        <i class="icon ion-ios-list-outline"></i>Morfología II</ion-item>
      <ion-item class="item-icon-left dark" id="programasDeCTedra-list-item60">
        <i class="icon ion-ios-list-outline"></i>Elementos de Matemática</ion-item>
      <ion-item class="item-icon-left dark" id="programasDeCTedra-list-item61">
        <i class="icon ion-ios-list-outline"></i>Instalaciones I</ion-item>
      <ion-item class="item-icon-left dark" id="programasDeCTedra-list-item62">
        <i class="icon ion-ios-list-outline"></i>Teoría y Análisis de la Arquitectura I</ion-item>
      <ion-item class="item-icon-left dark" id="programasDeCTedra-list-item63">
        <i class="icon ion-ios-list-outline"></i>Tecnología de la Construcción</ion-item>
      <ion-item class="item-icon-left dark" id="programasDeCTedra-list-item64">
        <i class="icon ion-ios-list-outline"></i>Introducción a los Tipos Estructurales</ion-item>
      <ion-item class="item-icon-left dark" id="programasDeCTedra-list-item65">
        <i class="icon ion-ios-list-outline"></i>Introducción a la Informática</ion-item>
      <ion-item class="item-icon-left dark" id="programasDeCTedra-list-item66">
        <i class="icon ion-ios-list-outline"></i>Estadística Aplicada</ion-item>
      <ion-item class="item-icon-left dark" id="programasDeCTedra-list-item67">
        <i class="icon ion-ios-list-outline"></i>Taller de Diseño Arquitectónico III</ion-item>
      <ion-item class="item-icon-left dark" id="programasDeCTedra-list-item68">
        <i class="icon ion-ios-list-outline"></i>Inglés</ion-item>
      <ion-item class="item-icon-left dark" id="programasDeCTedra-list-item69">
        <i class="icon ion-ios-list-outline"></i>Estructuras I</ion-item>
      <ion-item class="item-icon-left dark" id="programasDeCTedra-list-item70">
        <i class="icon ion-ios-list-outline"></i>Introducción al urbanismo</ion-item>
      <ion-item class="item-icon-left dark" id="programasDeCTedra-list-item71">
        <i class="icon ion-ios-list-outline"></i>Informática Aplicada I</ion-item>
      <ion-item class="item-icon-left dark" id="programasDeCTedra-list-item72">
        <i class="icon ion-ios-list-outline"></i>Instalaciones II</ion-item>
      <ion-item class="item-icon-left dark" id="programasDeCTedra-list-item73">
        <i class="icon ion-ios-list-outline"></i>Teoría y Análisis de la Arquitectura II</ion-item>
      <ion-item class="item-icon-left dark" id="programasDeCTedra-list-item74">
        <i class="icon ion-ios-list-outline"></i>Tecnología de la Construcción II</ion-item>
      <ion-item class="item-icon-left dark" id="programasDeCTedra-list-item119">
        <i class="icon ion-ios-list-outline"></i>Taller de Diseño Arquitectónico IV</ion-item>
      <ion-item class="item-icon-left dark" id="programasDeCTedra-list-item120">
        <i class="icon ion-ios-list-outline"></i>Urbanismo</ion-item>
      <ion-item class="item-icon-left dark" id="programasDeCTedra-list-item121">
        <i class="icon ion-ios-list-outline"></i>Informática Aplicada II</ion-item>
      <ion-item class="item-icon-left dark" id="programasDeCTedra-list-item129">
        <i class="icon ion-ios-list-outline"></i>Estructuras II</ion-item>
      <ion-item class="item-icon-left dark" id="programasDeCTedra-list-item155">
        <i class="icon ion-ios-list-outline"></i>Tecnología de Energías No Convencionales</ion-item>
      <ion-item class="item-icon-left dark" id="programasDeCTedra-list-item171">
        <i class="icon ion-ios-list-outline"></i>Teoría y Análisis de la Arquitectura III</ion-item>
      <ion-item class="item-icon-left dark" id="programasDeCTedra-list-item172">
        <i class="icon ion-ios-list-outline"></i>Ciencias y Tecnología de la Investigación</ion-item>
      <ion-item class="item-icon-left dark" id="programasDeCTedra-list-item183">
        <i class="icon ion-ios-list-outline"></i>Instalaciones III</ion-item>
      <ion-item class="item-icon-left dark" id="programasDeCTedra-list-item184">
        <i class="icon ion-ios-list-outline"></i>Planificación y Organización de Obras</ion-item>
      <ion-item class="item-icon-left dark" id="programasDeCTedra-list-item185">
        <i class="icon ion-ios-list-outline"></i>Paisajismo</ion-item>
      <ion-item class="item-icon-left dark" id="programasDeCTedra-list-item186">
        <i class="icon ion-ios-list-outline"></i>Taller de Diseño Arquitectónico V</ion-item>
      <ion-item class="item-icon-left dark" id="programasDeCTedra-list-item187">
        <i class="icon ion-ios-list-outline"></i>Diseño Urbano</ion-item>
      <ion-item class="item-icon-left dark" id="programasDeCTedra-list-item189">
        <i class="icon ion-ios-list-outline"></i>Diseño Estructural</ion-item>
      <ion-item class="item-icon-left dark" id="programasDeCTedra-list-item190">
        <i class="icon ion-ios-list-outline"></i>Topografía</ion-item>
      <ion-item class="item-icon-left dark" id="programasDeCTedra-list-item191">
        <i class="icon ion-ios-list-outline"></i>Patrimonio Cultural, Urbano y Arquitectónico</ion-item>
      <ion-item class="item-icon-left dark" id="programasDeCTedra-list-item192">
        <i class="icon ion-ios-list-outline"></i>Diseño Paisajístico</ion-item>
      <ion-item class="item-icon-left dark" id="programasDeCTedra-list-item193">
        <i class="icon ion-ios-list-outline"></i>Practicanato en Gestión Municipal</ion-item>
      <ion-item class="item-icon-left dark" id="programasDeCTedra-list-item130">
        <i class="icon ion-ios-list-outline"></i>Diseño Bioambiental</ion-item>
      <ion-item class="item-icon-left dark" id="programasDeCTedra-list-item131">
        <i class="icon ion-ios-list-outline"></i>Técnicas en Gestión Empresarial</ion-item>
      <ion-item class="item-icon-left dark" id="programasDeCTedra-list-item132">
        <i class="icon ion-ios-list-outline"></i>Trabajo Final</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>